@charset "utf-8";
.images {
    width: 325px;
    border-style: solid;
    border-color: rgba(255,255,255,1.00);
}
.sideBySide {
    display: flex;
    border-color: #FFFFFF;
}
.text {
    text-align: center;
    font-size: x-large;
    width: 1250px;
    border-style: solid;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    color: rgba(255,255,255,1.00);
}
