@charset "utf-8";
h1 {
    text-align: center;
    font-family: Papyrus;
}
.vidCenter {
    height: auto;
    margin: 0 auto;
    display: block;
    background-color: rgba(0,0,0,1.00);
}
#scene {
	width: 100%;
}


video {
	max-height: 600px;
}
.img {
    display: block;
    height: auto;
    margin: 0 auto;
    border-style: solid;
}
.background {
    background-color: BlanchedAlmond;
}
p {
    font-family: Papyrus;
}
